body {
  color: rgb(32, 122, 182);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/440/original/aaron-burden-nJ2YCCnVp6k-unsplash.jpg?1679691984);
  background-size: cover;
}

.weather-app-wrapper {
  color: rgb(32, 122, 182);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 500px;
  margin: 50px auto;
}

.weather-app {
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.603);
}

.seach-engine-form {
  padding: 0 70px 10px 70px;
}

.btn {
  color: rgb(32, 122, 182);
  font-size: small;
  background-color: rgba(225, 225, 182, 0.708);
  border-radius: 10px;
}

h1 {
  color: rgb(93, 123, 143);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px;
  padding-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
  margin: 0;
  font-size: medium;
  font-weight: 100;
  line-height: 23px;
}
.temp {
  font-size: 40px;
  margin: 15px 15px 3px 15px;
  max-width: 600px;
}
.temperature {
  font-size: 54px;
  align-content: center;
  font-weight: 400;
  padding: 5px;
}
.units {
  font-size: 15px;
  vertical-align: text-top;
}
.footer {
  color: rgb(238, 234, 234);
  background: rgba(128, 128, 128, 0.71);
}
